---
import ProductosTable from '@/components/products/producTable';
---

<div class="p-4 bg-background">
    <h1 class="text-2xl font-bold mb-4 text-primary">Gestión de Productos</h1>
    <ProductosTable client:visible />
</div>